.icon-saudi_riyal {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url(../../../../public/Saudi_Riyal.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}